html {
  background-color: #f2f1ed;
  line-height: 1.5;
}

h1 {
  font-size: 0;
}

p {
  font-family: Georgia, serif;
}

li, a {
  font-weight: bold;
  color: #793284;
  font-size: 1.125rem;
  list-style: none;
  text-decoration: none;
}

li:hover, a:hover {
  color: #b42885;
  text-decoration: underline;
}

figcaption {
  font-style: italic;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  color: #5d8432;
  font-family: "Patua One", cursive;
}

img {
  width: 100%;
  height: auto;
}
