html {
background-color: #f2f1ed;
}

p {
  font: Georgia;
}

h1 {
  color: #5d8432;
  text-transform: uppercase;
}

nav {
  normal-color: #793284
  hover-color: #b42885
}

li:hover {
  color: #b42885;
}
